$primary-color: #0056b3;
$secondary-color: #ffffff;
$background-color: #333333;
$text-color: #ffffff;
$link-hover-color: #007bff;

.footer-container {
  background-color: $background-color;
  color: $text-color;
  padding: 20px 0;
  font-family: 'Roboto', sans-serif;

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;

    .footer-section {
      margin-bottom: 20px;
      width: 100%;

      h4 {
        margin-bottom: 10px;
        font-weight: 700;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 5px;

          a {
            color: $text-color;
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
              color: $link-hover-color;
            }
          }
        }
      }

      p {
        margin: 0;
      }
    }
  }

  .social-media {
    display: flex;
    flex-direction: column;
    width: 100%;

    li {
      margin-bottom: 5px;

      a {
        color: $text-color;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: darken($background-color, 10%);
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer-content {
    .footer-section {
      width: 30%;
    }
  }
}
